*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    
}
body{
    background: rgb(225,239,255);
    background: linear-gradient(90deg, rgba(225,239,255,1) 60%, rgba(255,255,255,1) 100%);
    color: black;
    overflow: hidden;
    overflow-y:scroll ;
}